<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA02cgjJnLMHwiXyxSGSCuHSZKgPI8ExAs</string>
	<key>GCM_SENDER_ID</key>
	<string>995176526066</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterRevision</string>
	<key>PROJECT_ID</key>
	<string>codejam2-flutter-smiu</string>
	<key>STORAGE_BUCKET</key>
	<string>codejam2-flutter-smiu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995176526066:ios:0da01bb80c2af35ce7e06b</string>
</dict>
</plist>